
<div class="container">
  <div class="blog-header">
    <p class="lead blog-description"><%= @user.username %>'s posts</p>
  </div>
  <% @posts.reverse.each do |post| %>
    <%= erb :'_post', layout: false, locals: { post: post } %>
  <% end %>
</div>
